body {
    background: #393636;
    font-family: 'Nunito', sans-serif;
}
.cabecalho {
    position: relative;
    width: 940px;
    margin: 0 auto;
    padding: 3% 0;
    /*background: blue;*/
}
.titulo-principal {
    font-size: 42px;
    font-weight: bold;
    color: #FF3E78;
    /*background: red;*/
}
.profissao {
    display: inline;
    font-size: 30px;
    font-weight: bold;
    color: #FFFFFF;
    /*background: green;*/
}
.menu {
    display: inline;
    position: absolute;
    top: 60%;
    right: 0%;

    /*background: yellow;*/
}
.menu li {
    display: inline;
    text-transform: uppercase;
    font-size: 22px;
    
}
.menu a {
    color: #38B6FF;
    text-decoration: none;
}
main{
    width: 940px;
    margin: 0 auto;
    padding: 3% 0;
}
.foto{
    display: inline-block;
    width: 40%;
}
.foto-perfil{
    width: 90%;
    border-radius: 50%;
}
.sobre-mim {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    margin-left: 10%;
    line-height: 1.5;
}
h2 {
    font-size: 46px;
    font-weight: bold;
    color: #FFFFFF;
}
p {
    font-size: 18px;
    color: #FFFFFF;
    text-align: justify;
}
strong {
    color:#FF3E78
}
.habilidades {
    margin: 10% 0;
}
h2 {
    text-align: center;
}
h3 {
    font-size: 30px;
    color:#38B6FF
}
.hard-skills {
    display: inline-block;
    vertical-align: top;
    margin: 3% 0 0 30%;
}
.soft-skills {
    display: inline-block;
    margin: 3% 0 0 10%;
}
.lista {
    font-size: 20px;
    color: #FFFFFF;
    list-style-type: disc;
    padding-left: 1em;
}
.lista-contatos {
    margin: 3% 0 0 30%;
    font-size: 24px;
    color: #FFFFFF;
}
.lista-contatos li {
    padding: 1% 0;
}
.lista-contatos a {
    color:#FFFFFF
}
.icone {
    width: 30px;
    height: 30px;
}
 /*Projetos*/ 
.projetos-dev {
    margin: 10% 0;
}
.projetos-dev a {
     display: inline-block;
     width: 30%
 }
.projetos-dev img {
    width: 90%;
    margin:0 0 3% 0;
 }
.projetos {
     display: inline-block;
     width: 35%;
     vertical-align: top;
     margin: 0 30% 1% 0;
 }
 /*Formação*/
 .curso {
    margin: 10% 0 0 0;
 }
 .curso a {
    color:#FFFFFF;
 }


